<ng-container *ngIf="show">
  <div class="bg">
    <h1> {{title}} </h1>
    <form>
      <div>
        <label for="">Nombre Completo</label>
        <input type="text" />
      </div>
      <div>
        <label for="">codigo de docente</label>
        <input type="text" />
      </div>
      <div>
        <label for="">correo electronico</label>
        <input type="text" />
      </div>
      <div>
        <label for="">usuario</label>
        <input type="text" />
      </div>
      <div>
        <label for="">contraseña</label>
        <input type="text" />
      </div>
      <input type="submit" />
    </form>
  </div>
</ng-container>
