<ng-container *ngIf="show">
  <div class="container">
    <div class="black_bg" *ngIf="!valid()"></div>
    <div class="bg">
      <h1>{{ title }}</h1>
      <form [formGroup]="signupForm" (ngSubmit)="submit()">
        <input type="hidden" name="idDocente" formControlName="idDocente" />
        <div class="cont_input">
          <div>
            <label for="nombreCompleto">Nombre Completo</label>
          </div>
          <div class="icon-input">
            <fa-icon [icon]="icons.iconsRegister.id" class="iconB"></fa-icon>
            <input
              type="text"
              formControlName="nombreCompleto"
              name="nombreCompleto"
              class="input"
            />
          </div>
        </div>
        <div class="cont_input">
          <div>
            <label for="codigoDocente">codigo de docente</label>
          </div>
          <div class="icon-input">
            <fa-icon [icon]="icons.iconsRegister.qr" class="iconB"></fa-icon>
            <input
              type="text"
              formControlName="codigoDocente"
              name="codigoDocente"
              class="input"
            />
          </div>
        </div>
        <div class="cont_input">
          <div>
            <label for="correoE">correo electronico</label>
          </div>
          <div class="icon-input">
            <fa-icon
              [icon]="icons.iconsRegister.correo"
              class="iconB"
            ></fa-icon>
            <input
              type="text"
              formControlName="correoE"
              name="correoE"
              class="input"
            />
          </div>
        </div>
        <div class="cont_input">
          <div>
            <label for="idLoc">Ciudad</label>
          </div>
          <div class="icon-input">
            <fa-icon
              [icon]="icons.iconsRegister.location"
              class="iconB"
            ></fa-icon>

            <select
              formControlName="correoE"
              name="correoE"
              class="input"
            >
            <option *ngFor="let loc of localizacion" value="{{loc.idLoc}}">{{loc.ciudad}}</option>
          </select>
          </div>
        </div>
        <div class="cont_input">
          <div>
            <label for="nombreUsuario">usuario</label>
          </div>
          <div class="icon-input">
            <fa-icon
              [icon]="icons.iconsRegister.usuario"
              class="iconB"
            ></fa-icon>
            <input
              type="text"
              class="input"
              name="nombreUsuario"
              formControlName="nombreUsuario"
            />
          </div>
        </div>
        <div class="cont_input" *ngIf="validPass()">
          <div>
            <label for="contrasenia">contraseña</label>
          </div>
          <div class="icon-input">
            <fa-icon
              [icon]="icons.iconsRegister.password"
              class="iconB"
            ></fa-icon>
            <input
              type="text"
              formControlName="contrasenia"
              name="contrasenia"
              class="input"
            />
          </div>
        </div>
        <div class="boton" *ngIf="valid()">
          <input type="submit" class="btn_sub" value="Registrarse" />
        </div>
        <div class="boton" *ngIf="!valid()">
          <input type="submit" class="btn_sub" value="Guardar" />
          <input
            type="button"
            class="btn_sub"
            value="Cancelar"
            (click)="showHidden()"
          />
        </div>
      </form>
      <div class="enlaces" *ngIf="valid()">
        <p>Si tienes cuenta <a routerLink="/">Inicia Sesion aqui</a></p>
      </div>
    </div>
  </div>
</ng-container>
