<ng-container>
  <div class="table_bg">
    <h1>ESTUDIANTES</h1>
    <table>
      <thead>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
        <th>a</th>
      </thead>
      <tbody>
        <tr>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
          <td>b</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
