.container-table {
  width: 1250px;
  overflow-x: scroll;
}

table {
  width: 100%;
  background: #ffffff;

}

.mat-paginator-container{
  width: 100%;
}

th.mat-header-cell {
  text-transform: capitalize;
  border-left: 1px solid;
  padding: 5px;
  width: 150px;
}

td.mat-cell  {
  border-left: 1px solid;
  padding: 5px;
  width: 150px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
