<ng-container *ngIf="show">
  <div class="bg">
    <h1> {{title}} </h1>
    <form>
      <div>
        <label for="">nombre completo</label>
        <input type="text" />
      </div>
      <div>
        <label for="">documento</label>
        <input type="text" />
      </div>
      <div>
        <label for="">correo electronico</label>
        <input type="text" />
      </div>
      <div>
        <label for="">celular</label>
        <input type="text" />
      </div>
      <div>
        <label for="">ciudad</label>
        <input type="text" />
      </div>
      <div>
        <label for="">departamento</label>
        <input type="text" />
      </div>
      <div>
        <label for="">barrio</label>
        <input type="text" />
      </div>
      <div>
        <label for="">direccion</label>
        <input type="text" />
      </div>
      <div>
        <label for="">estrato socio economico</label>
        <input type="text" />
      </div>
      <div>
        <label for="">¿convive con?</label>
        <input type="text" />
      </div>
      <div>
        <label for="">ingresos</label>
        <input type="text" />
      </div>
      <div>
        <label for="">¿quien cubre los pasajes?</label>
        <input type="text" />
      </div>
      <div>
        <label for="">profesion del padre</label>
        <input type="text" />
      </div>
      <div>
        <label for="">profesion de la madre</label>
        <input type="text" />
      </div>
      <div>
        <label for="">¿tiene vehiculo propio?</label>
        <input type="text" />
      </div>
      <div>
        <label for="">marca del vehiculo</label>
        <input type="text" />
      </div>
      <div>
        <label for="">tipo de vehiculo</label>
        <input type="text" />
      </div>
      <div>
        <label for="">¿termino el bachillerato?</label>
        <input type="text" />
      </div>
      <div>
        <label for="">institucion donde lo termino</label>
        <input type="text" />
      </div>
      <div>
        <label for="">¿practica algun deporte?</label>
        <input type="text" />
      </div>
      <div>
        <label for="">estudios superiores</label>
        <input type="text" />
      </div>
      <button>Guardar</button>
      <button type="button">cancelar</button>
    </form>
  </div>
</ng-container>
