<div class="container">
  <div class="bg">
    <div class="container-card">
      <a routerLink="/estudiantes">
        <div class="card">
          <fa-icon [icon]="icons.iconsMain.estudiante"></fa-icon>
          <div class="name">
            <p>Estudiantes</p>
          </div>
        </div>
      </a>
      <a routerLink="/empleados">
        <div class="card">
          <fa-icon [icon]="icons.iconsMain.empleado"></fa-icon>
          <div class="name">
            <p>empleados</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
