.container {
  width: 100%;
  height: var(--full-screen);
  display: flex;
  justify-content: center;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  padding: 70px;
  width: 95%;
  height: 95%;
}
